[program:neo-human-detector]
directory=__PROJECT_ROOT__
command=__PROJECT_ROOT__/scripts/run.sh
user=__RUN_USER__

autostart=true
autorestart=unexpected
exitcodes=0
startsecs=10
startretries=3

stopsignal=INT
stopwaitsecs=30
stopasgroup=true
killasgroup=true

environment=HOME="__USER_HOME__",PATH="__UV_DIR__:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin",PYTHONUNBUFFERED="1"

redirect_stderr=true
stdout_logfile=__PROJECT_ROOT__/logs/supervisor.log
stdout_logfile_maxbytes=20MB
stdout_logfile_backups=5

